body{
    background:#111111;
}
nav{
    background-color: #f4f4f4;
}
a{
    text-decoration: none;
    color: #000000;
}
.nav_li{
    color: #000000;
}
.heading{
    color: #ffffff;
}
.product-list h3 {
    color: #ffffff;
}
.product-list a{
    color: #ffffff;
}
.description {
    color: #646464;
}

footer{
    background-color: #f4f4f4;
}
p{
    color: #1b1b1b;
}
.contacts{
    color: #1b1b1b;
}
.copyright{
    color: #1b1b1b;
}

h2{
    color: #ffffff;
}
.p_subs{
    color: #ffffff;
}
.p_subs_description{
    color: #ffffff;
}
.p2_subs_description{
    color: #ffffff;
}
.p_contact{
    color: #ffffff;
}
.a_contact{
    color: #ffffff;
}
.p_content_page{
    color: #ffffff;
}
.p_content_page_2{
    color: #ffffff;
}