body{
    background:rgb(242, 242, 242);
}
nav{
    background: #252525;
}
a{
    color: #DCDCDC;
}
.nav_li{
    color: #d3d3d3;
}
.heading{
    color: #000000;
}
.product-list h3 {
    color: #000000;
}
.product-list a{
    color: #000000;
}
.description {
    color: #646464;
}

footer{
    background-color: #252525;
}
p{
    color: #DCDCDC;
}
.contacts{
    color: #DCDCDC;
}
.copyright{
    color: #DCDCDC;
}
.p_subs_description{
    color: #000000;
}
.p2_subs_description{
    color: #000000;
}
.p_contact{
    color: #000000;
}
.a_contact{
    color: #000000;
}
.p_content_page{
    color: #000000;
}
.p_content_page_2{
    color: #000000;
}