@font-face {
    font-family: "Ermilov-bold";  
    src: url("fonts/Ermilov-bold.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Rany";  
    src: url("fonts/Rany.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "DihjautiS-Regular";  
    src: url("fonts/DihjautiS-Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
*{
	padding:0;
	margin:0;
	line-height:1;
	box-sizing: border-box;
}
nav{
    white-space: nowrap;
    height: 64px;
}
ul{
    list-style-type: none;
}
.ul_nav{
    margin-left: 200px;
}
a{
    text-decoration: none;
}
.img_logo{
    position: absolute;
    top: 16px;
    left: 100px;
}
.img_account{
    position: absolute;
    top: 10px;
}
.nav_li{
    margin-top: 18px;
    margin-left: 30px;
    font-size: 18px;
    display: inline-block;
    font-family: 'Ermilov-bold';
}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
input {
    width: 100%;
    height: 35px;
    border: 1.7px solid #DCDCDC;
    outline: none;
    background: #4B4B4B;
    color: #DCDCDC;
    font-family: "DihjautiS-Regular";
    font-size: 16px;
  }
  .button_search {
    position: absolute; 
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    border: none;
    background:none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .button_search:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #ffffff;
  }
.img_lightdark{
    position: absolute;
    left: 95%;
    top: 2.4%;
}
.theme-button
{
    cursor: pointer;
}
.btn {
    position: absolute;
    top: 55%;
    left: 67%;
    background-color: #8A41CC;
    color: white;
    font-size: 30px;
    padding: 20px 50px;
    font-family: 'Ermilov-bold';
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s ease-in;
  }
.img_banner{
    width: 100%;
}
h1{
    font-family: 'Ermilov-bold';
    font-size: 25px;
    margin-left: 100px;
    margin-top: 30px;
}
.img_arrow{
    margin-top: 30px;
    margin-left: 7px;
}
.heading{
    display: flex;
}
.movie{
    margin-top: 1em;
    display: flex;
    margin-left: 80px;
    margin-top: 20px;
}
.movie_li{
    margin-left: 60px;
}
.movie-item {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
.movie-item img {
    display: block;
    width: 200px;
}
.product-list {
    padding: 7px 0;
}
.product-list h3 {
    font-size: 18px;
    font-family: 'Ermilov-bold';
    margin: 0 0 10px 0;
}
.description {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    font-family: 'DihjautiS-Regular';
}

footer{
    height: 282px;
    margin-top: 1em;
}
.ul_footer{
    display: flex;
    margin-left: 270px;
}
.li_footer{
    margin-top: 15px;
    margin-left: 50px;
    font-size: 18px;
    display: inline-block;
    font-family: 'Ermilov-bold';
}
.social_div{
    top: -38%;
    margin-left:75%;
    position: relative;
    
}
.social{
    top: 20px;
    position: relative;
    right: 7%;
}

.social_li{
    margin-left: 40px;
    display: inline-block;
}
p{
    font-family:'Ermilov-bold';
    font-size: 18px;
}

.img_arrow{
    margin-top: 33px;
    margin-left: 7px;
}
.contacts{
    font-family:'Ermilov-bold';
    font-size: 16px;
}
.contacts img{
    margin-top: 20px;
    margin-right: 10px;
}
.ul_contacts{
    margin-top: 20px;
    margin-left: 8%;
}
.li_contacts{
    margin-left: 20px;
}
.copyright{
    text-align: center;
    font-family:'Ermilov-bold';
    font-size: 16px;
}


.category_ul{
    margin-top: 1em;
    display: flex;
    margin-left: 70px;
    margin-top: 20px;
}
.category_li{
    margin-left: 100px;
}
.category-item {
    width: 330px;
    text-align: center;
    margin: 0 auto;
}
.category-item img {
    display: block;
    width: 330px;
}
.ul_genre{
    display: flex;
}
.li_genre{
    margin-left: 60px;
}
.li_genre img{
    width: 50px;
    height: 40px;
}


.div_subs{
    background-image: url(img/backgroundimagesubs.png);
    height: 650px;
}
h2{
    font-family:'Ermilov-bold';
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 170px;
    color: #ffffff;
}
.p_subs{
    margin: 1% 17% 1% 17%;
    font-size: 25px;
    line-height:1.5em;
    color: #ffffff;
    margin-top: 270px;
    text-align: center;
}
.button_subs{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px 10px;
    color: rgb(255, 255, 255);
    font-family: 'Ermilov-bold';
    font-size: 18px;
    background-color: #8A41CC;
    border: 1.7px solid #8A41CC;
    border-radius: 10px;
    margin-top: 40px;
}
.descr_subs{
    text-align: center; 
    font-family: 'DihjautiS-Regular'; 
    font-size: 15px; 
    margin-top: 20px;
    color: #DCDCDC;
}
.subs_descr_u{
    color: #DCDCDC;
}
.div_subs_description{
    margin-left: -8%;
    margin-top: 3%;
}
.p_subs_description{
    font-family:'Ermilov-bold';
    font-size: 26px;
    line-height: 2em;
}
.p2_subs_description{
    font-family: 'DihjautiS-Regular';
    font-size: 17px;
    line-height: 1.5em;
}
.ul_subs_description{
    display: flex;
}
.li_subs_description{
    margin: 10px 150px 6px 100px;
}
.li_subs_description img{
    position: relative;
    top: -8%;
    left: 50%;
}
.bckgr_company{
    position: relative;
    left: 50%;
    margin-top: 15px;
    transform: translate(-50%, 0);
}
.backgroundcompany{
    width: 100%;
}

.p_contact{
    font-family: 'DihjautiS-Regular';
    font-size: 18px;
    margin-top: 1%;
    margin-left: 18%;
    margin-right: 30%;
    line-height: 1.7em;
}
.heading2{
    font-size: 33px;
    font-family: 'Ermilov-bold';
    margin-left: 13%;
    margin-top: 40px;
}
.div_content_page{
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
}
.p_div_content_page{
    margin: 1.5em 12em 0 2.2em;
}
.p_content_page{
    font-family:'Ermilov-bold';
    font-size: 25px;
}
.p_content_page_2{
    font-family:'Rany';
    margin-top: 10px;
    line-height: 1.3em;
}
.button_content_page{
    position: absolute;
    top: 53%;
    left: 29%;
    background-color: #8A41CC;
    color: white;
    font-size: 20px;
    padding: 15px 40px;
    font-family: 'Ermilov-bold';
    border: none;
    cursor: pointer;
    border-radius: 10px;
}