@font-face {
  font-family: "Ermilov-bold";  
  src: url("fonts/Ermilov-bold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}
html {
    background-blend-mode:overlay;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(255, 255, 255);
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    font-family: 'Ermilov-bold';
    font-size: 20px;
  }
  
  body {
    background-color:transparent;
  }
  
  .registration-cssave{
    padding:50px 0;
  }
  
  .registration-cssave form {
    max-width:800px;
    padding:50px 70px;
    border-radius:10px;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color:rgb(248, 248, 248);
  }
  
  .registration-cssave form h3 {
    font-weight:bold;
    margin-bottom:30px;
  }
  
  .registration-cssave .item {
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 20px;
  }
  
  .registration-cssave .create-account {
    border-radius:10px;
    padding:15px 18px;
    font-size:18px;
    font-weight:bold;
    background-color:#8A41CC;
    border:none;
    color:white;
    margin-top:20px;
  }
  
  @media (max-width: 576px) {
    .registration-cssave form {
      padding:50px 20px;
    }
  }
p{
  font-size: 15px;
}
a{

  color: rgb(59, 59, 59);
}