@font-face {
    font-family: "Ermilov-bold";  
    src: url("fonts/Ermilov-bold.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
  }
  html {
      background-blend-mode:overlay;
      display:flex;
      align-items:center;
      justify-content:center;
      background-repeat:no-repeat;
      background-size:cover;
      height:100%;
      font-family: 'Ermilov-bold';
      font-size: 20px;
    }
    
    body {
      background-color:transparent;
    }
    
    .form_pay_subs{
      padding:50px 0;
    }
    
    .form_pay_subs form {
      max-width:800px;
      padding:50px 70px;
      border-radius:10px;
      box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
      background-color:rgb(248, 248, 248);
    }
    
    .form_pay_subs form h3 {
      font-weight:bold;
      margin-bottom:20px;
    }
    
    .form_pay_subs .item {
      border-radius:10px;
      margin-bottom:25px;
      padding:10px 50px;
    }
    
    .form_pay_subs .pay-subs {
      border-radius:10px;
      padding:13px 30px;
      font-size:18px;
      font-weight:bold;
      background-color:#8A41CC;
      border:none;
      color:white;
      margin-top:20px;
      margin-left: 20px;
    }
    
    @media (max-width: 576px) {
      .form_pay_subs form {
        padding:50px 20px;
      }
    }